<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqkpt3q1mgsED9oao8_rK1tkikSDVUKss</string>
	<key>GCM_SENDER_ID</key>
	<string>440203660866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.projectes</string>
	<key>PROJECT_ID</key>
	<string>project-es24</string>
	<key>STORAGE_BUCKET</key>
	<string>project-es24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440203660866:ios:1d828f6e44cfcfced827db</string>
	<key>DATABASE_URL</key>
	<string>https://project-es24-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>